:root {
    /* Colors */
        /* Primary */
        --strongCyan: hsl(172, 67%, 45%);

        /* Neutral */
        --veryDarkCyan: hsl(183, 100%, 15%);
        --darkGrayishCyan: hsl(186, 14%, 43%);
        --darkGrayishCyan2: hsl(184, 14%, 56%);
        --lightGrayishCyan: hsl(185, 41%, 84%);
        --lightGrayishCyan2: hsl(189, 41%, 97%);
        --white: hsl(0, 0%, 100%);

    /* Typography */
        /* Body Copy */
        --fontSize: 24px;

        /* Font */
        --fontFamily: [Space Mono](https://fonts.google.com/specimen/Space+Mono);
        --fontWeightLight: 400;
        --fontWeightMed: 500;
        --fontWeightHeavy: 700;
}

body {
    background-color: var(--lightGrayishCyan);
    font-family: var(--fontFamily);
    font-weight: 700px;
    /* display: grid;
    place-items: center; */
    /* justify-content: center; */
}

.container {
    background-color: var(--white);
    
    /* positioning */
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;

    height: 50%;
    /* width: 50%; */
    min-height: 400px;
    min-width: 600px;

    padding: 50px;
    margin: 20px;
}

.input {
    width: 50%;
    padding: 25px;
}

.output {
    background-color: var(--veryDarkCyan);
    color: var(--white);
    width: 50%;
    padding: 25px;
    border-radius: 25px;
}

.tip, .reset {
    padding: 30px;
    display: flex;
}

.value {
    color: var(--strongCyan);
    font-size: 30px;
    padding-left: 50px;
}

button {
    padding: 10px 20px;
    margin: 1px;
    border-radius: 5px;
    border-width: 0px;
    background-color: var(--veryDarkCyan);
    color: var(--white);
}

button:focus, button:hover {
    background-color: var(--strongCyan);
    color: var(--veryDarkCyan);
}

.output button {
    background-color: var(--strongCyan);
    color: var(--veryDarkCyan);
    width: 100%;
}

.output button:hover {
    background-color: var(--lightGrayishCyan);
}

#title {
    color: var(--white);
}

.unit p {
    color: var(--darkGrayishCyan2);
    size: var(--fontSize);
}

input {
    background-color: var(--lightGrayishCyan);
    color: var(--darkGrayishCyan);
    border-width: 0px;
    border-radius: 5px;
    padding: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
