:root {
    /* Colors */
        /* Primary */
        --strongCyan: hsl(172, 67%, 45%);

        /* Neutral */
        --veryDarkCyan: hsl(183, 100%, 15%);
        --darkGrayishCyan: hsl(186, 14%, 43%);
        --darkGrayishCyan2: hsl(184, 14%, 56%);
        --lightGrayishCyan: hsl(185, 41%, 84%);
        --lightGrayishCyan2: hsl(189, 41%, 97%);
        --white: hsl(0, 0%, 100%);

    /* Typography */
        /* Body Copy */
        --fontSize: 24px;

        /* Font */
        --fontFamily: [Space Mono](https://fonts.google.com/specimen/Space+Mono);
        --fontWeightLight: 400;
        --fontWeightMed: 500;
        --fontWeightHeavy: 700;
}

body {
    background-color: var(--lightGrayishCyan);
    font-family: 'Space Mono', monospace;
    font-weight: 700px;
}

.container {
    background-color: var(--white);
    
    /* positioning */
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;

    height: 400px;
    /* min-height: 30%; */
    min-width: 600px;

    margin-top: 10px;
    padding: 20px;
}

.left-panel {
    width: 50%;
    padding: 25px;    
}

.right-panel {
    background-color: var(--veryDarkCyan);
    color: var(--white);
    width: 50%;
    padding: 0px;
    border-radius: 15px;
}

.tip {
    padding-top: 10px;
    padding-left: 30px;
    display: flex;
}


.value {
    color: var(--strongCyan);
    font-size: 30px;
}

.reset {
    padding: 60px 30px 30px 30px;
    display: flex;
}

button {
    width: 90px;
    height: 35px;
    margin: 1px;
    border-radius: 5px;
    border-width: 0px;
    background-color: var(--veryDarkCyan);
    color: var(--white);
    font-family: var(--fontFamily);
    font-weight: var(--fontWeightHeavy);
    font-size: 15px;
}

.custom:focus {
    width: 75px;
    height: 35px;
    margin: 1px;
    border-radius: 5px;
    border-width: 0px;
}

button:focus, button:hover {
    background-color: var(--strongCyan);
    color: var(--veryDarkCyan);
}

.left-panel p {
    font-weight: var(--fontWeightHeavy);
    color: var(--darkGrayishCyan);
}

.right-panel p {
    font-weight: var(--fontWeightHeavy);
    color: var(--darkGrayishCyan);
}

.right-panel button {
    background-color: var(--strongCyan);
    color: var(--veryDarkCyan);
    width: 100%;
}

.right-panel button:hover {
    background-color: var(--lightGrayishCyan);
}

#title {
    color: var(--white);
}

.unit p {
    color: var(--darkGrayishCyan2);
    size: var(--fontSize);
}

input {
    font-family: var(--fontFamily);
    background-color: var(--lightGrayishCyan2);
    color: var(--darkGrayishCyan);
    border-width: 0px;
    border-radius: 1px;
    height: 30px;
    width: 90%;
    align-items: right;
    padding: 5px;
    padding-left: 10px;
}

input :focus {
    background-color: red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');